<ion-header>
  <ion-toolbar>
    <ion-title>fct</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/img/coche1.jpg"/>
    <ion-card-header>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label></ion-label>
        <ion-button fill="outline" slot="end">Características</ion-button>
        <ion-card-content>
         Lamborgini Aventador V8 600cv
        </ion-card-content>
      </ion-item>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <img src="assets/img/coche2.jpg"/>
    <ion-card-header>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label></ion-label>
        <ion-button fill="outline" slot="end">Características</ion-button>
        <ion-card-content>
         Lamborgini Murcielago V12 905cv
        </ion-card-content>
      </ion-item>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <img src="assets/img/coche3.jpg"/>
    <ion-card-header>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label></ion-label>
        <ion-button fill="outline" slot="end">Características</ion-button>
        <ion-card-content>
         Ferrari La Ferrari v12 895cv
        </ion-card-content>
      </ion-item>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <img src="assets/img/coche4.jpg"/>
    <ion-card-header>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label></ion-label>
        <ion-button fill="outline" slot="end">Características</ion-button>
        <ion-card-content>
         Lamborghini Huracan Performante V16 965cv
        </ion-card-content>
      </ion-item>
    </ion-card-header>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button href="https://vimeo.com/es/"><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
      <ion-fab-button href="https://es-es.facebook.com/"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
